<!--
  创建时间:21:03
  目录路径：apple/src/main/resources/templates
  项目名称：springboot
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基金购买</title>
    <link rel="stylesheet" th:href="@{/css/main0.css}">
</head>
<body>
<div id="header">
    <div id="return">
        <a th:href="@{/client/buy/fund}"><img th:src="@{/img/return.png}" th:alt="返回" th:height="30" th:width="30"></a>
    </div>
    <p style="text-align: center">金融管理系统</p>
</div>

<div id="nav">
    <li><a th:href="@{/client/index}">办理信用卡</a></li>
    <li><a th:href="@{/client/index}">办理储蓄卡</a> </li>
    <li><a th:href="@{/client/buy/fund}">购买基金</a> </li>
    <li><a th:href="@{/client/index}">投保</a> </li>
</div>
<div id="section">
<table>
<tr>
    <td>基金编号</td>
    <td>基金名称</td>
    <td>描述信息</td>
    <td>管理者</td>
    <td>基金评级</td>
    <td>单份价格</td>
</tr>
    <tr>
    <td th:text="${boughtFund.fid}"></td>
    <td th:text="${boughtFund.name}"></td>
    <td th:text="${boughtFund.description}"></td>
    <td th:text="${boughtFund.manager}"></td>
    <td th:text="${boughtFund.level}"></td>
    <td th:text="${boughtFund.price}"></td>
    </tr>
</table>
<br/>
<form th:action="@{'/client/buy/fund/confirm/'+${boughtFund.fid}}" method="post">
    购买数量:<input type="number" name="pnum">
    <input type="submit" value="提交">
</form>
</div>
<div id="footer">
    We'll find a way; we always have.
</div>
</body>
</html>